/* GENERAL */
html {
    box-sizing: border-box;
    height: 100%;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  body {
    padding: 0;
    margin: 0;
    font-family: $font-primary;
    background-color: #fff;
    color: $color-dark-rift;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  