$font-primary: 'Lato400', "Arial", sans-serif;
$font-family-lato400: 'Lato400';
$font-family-lato500: 'Lato500';
$font-family-lato600: 'Lato600';
$font-family-lato700: 'Lato700';
$font-family-work-sans500: 'Work Sans500';
$font-family-work-sans700: 'Work Sans700';
$font-size: 16px;
$line-height: 1.5;
$color-button-blue: #1F98F0;
$color-dark-rift: #03101A;
$color-antique-tin: #6D7073;