.button {
    @include font-style($font-family-lato400, 18px, 22px, $color-dark-rift){
        padding: 15px 30px;
        background: #FFFFFF;
        border-radius: 10px;
        text-decoration: none
    };
}

.button--blue {
    color: $color-button-blue;
}