.site-footer {
    padding: 100px 0;
    background-color: $color-dark-rift;
    text-align: left;
}

.site-footer__list {
    @include list-unstyled;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: -35px;
}

.site-footer__item-title {
    @include font-style($font-family-lato500, 21px, 25px ,#FFF){
        margin-top: 0;
        margin-bottom: 35px;
    }
}

.site-footer__item {
    margin-bottom: 35px;
}

.site-footer__item:nth-child(1) {
    max-width: 327px;
    margin-right: 64px;
}

.site-footer__item-box{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    .site-footer__item:nth-child(1) {
        max-width: 131px;
        margin-right: 0;
    }

    .site-footer__item:nth-child(2) {
        max-width: 131px;
    }

    .site-footer__item:nth-child(3) {
        max-width: 360px;
    }
}

.site-footer__item:nth-child(4) {
    max-width: 360px;
    .site-footer__item-title {
        margin-bottom: 25px;
    }
}

.site-footer__item-link {
    display: block;
    margin-bottom: 35px;
}

.site-footer__item-img {
    display: block;
}

.site-footer__item-desc {
    margin: 0;
    color: #FFFFFF;
    opacity: 0.7;
}

.site-footer__item-subtitle {
    display: block;
    color: #FFF;
    opacity: 0.7;
    text-decoration: none;
}

.site-footer__item-subtitle:not(:last-child) {
    margin-bottom: 15px;
}

.site-footer__item-form {
    margin-bottom: 25px;
}

.site-footer__item-label {
    display: flex;
    align-items: flex-start;
}

.site-footer__item-input {
    border: none;
    padding: 11px 52px 11.5px 10px;
    max-width: 229px;
}

.site-footer__item-error-message {
    display: none;
    color: rgb(255, 64, 64);
    margin-top: 3px;
    margin-bottom: 10px;
    font-size: 14px;
}

.site-footer__item-input:not(:focus):not(:placeholder-shown):invalid {
    background-image: url(../../img/footer/error-img.svg);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: right;
    margin-bottom: 0;
}

.site-footer__item-input:not(:focus):not(:placeholder-shown):invalid + .site-footer__item-error-message {
    display: block;
}

.site-footer__item-input::placeholder {
    @include font-style($font-family-lato400, 14px, 21px, $color-dark-rift){
        border: none;
        opacity: 0.7;
    };
}

.site-footer__item-button {
    @include font-style($font-family-lato400, 14px, 21px, #FFF){
        border: none;
        padding: 10px 35px;
        background-color: $color-button-blue;
    };
}

@include max(1050px) {
    .site-footer__list {
        flex-direction: column;
        align-items: center;
    }

    .site-footer__item:nth-child(1) {
        margin-right: 0;
        margin-bottom: 50px;
        text-align: center;
    }

    .site-footer__item-box{
        .site-footer__item:nth-child(1) {
            text-align: left;
        }
    }

    .site-footer__item-img {
        margin-left: auto;
        margin-right: auto;
    }
}

@include max(700px) {
    .site-footer {
        text-align: center;
    }

    .site-footer__item-box {
        flex-direction: column;
        align-items: center;
    }

    .site-footer__item-box{
        .site-footer__item:nth-child(1) {
            text-align: center;
        }
    }
}

@include max(400px) {
    .site-footer__item-label {
        flex-direction: column;
        align-items: center;
    }

    .site-footer__item-input {
        margin-bottom: 10px;
    }
}